form input {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 5px;
  border: none;
  outline: 4px double rgb(0, 229, 255)
}

.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.br-10{
    border-radius: 10px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

body {
    font-family: "Walter Turncoat";
}

.game {
    position: relative;
    width: 100%;
    display: none;
}


.game.active {
    display: flex;
}

.start {
    background-color: rgb(30, 206, 255);
    padding: 20px;
    height: 60vh;
    width: max(400px, 60vw);
    position: relative;
}

.start.active {
    display: none;
}

.start h1 {
    color: black;
    text-align: center;
    font-size: clamp(20px,2rem + 2vw, 65px);
}

.start form {
    height: 70%;
    justify-content: space-around;
}

button {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: clamp(10px, 0.5rem + 1vw, 20px);
    font-family: "Walter Turncoat";
}

button:hover {
    background-color:aqua;
    color: black;
    border-radius: 10px;
    transition: 300ms ease-in;
}

form button {
    width: 90px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: black;
    color: white;
}


.playerInput {
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: bold;
}

.playerInput div {
    gap: 20px;
    width: 40%;
}

body, .game {
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    margin-top: 3%;
    width: min(800px, 50vw);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.box {
    display: grid;
    height:200px;
    font-size: 150px;
    place-items: center;
    border: 3px solid blue;
    cursor: pointer;
    transition: 200ms ease-in;
}

.box.active {
    background-color: blue;
}

.footer-buttons {
    margin-top: 3%;
    gap: 50px;
}

.score {
    background-color: rgb(109, 141, 229);
    width: 15vw;
    height: 40vh;
    position: absolute;
    top: 30%;
    text-align: center;
    justify-content: center;
}

.score > p:first-of-type {
    font-size: 100px;
    color: white;
}

.score > p:last-child {
    font-size: 80px;
}

.player1box {
    left: 5%;
}

.player2box {
    right: 5%;
}

@media screen and (max-width: 1150px)
{
    .score {
        margin-top: 250px;
        width: 200px;
        position: static;
    }

    .container {
        width: min(800px, 90vw);
    }

    .playerBoxes {
        display: flex;
        gap: 30px;
    }
}